<div class="bg-img-books">
  <%= render partial: "layouts/header" %>
  <div class="container-new-code flex">
    <div class="new-code-eye-catch font">
      Copy & Paste your source code.
      <%= form_with model: @form, url: api_books_path, local: true do |f| %>
    </div>
    <div class='new-code-form'>

      <div class="title-language">
        <div class="new-code-text field font">
          <%= f.label :title,  "タイトル" %><br>
          <%= f.text_field :title, class:"input-message", autofocus: true, autocomplete: "off", required: true %>
        </div>
        <div class="new-code-text field font">
          <%= f.label :name, "言語" %><br>
          <%= f.text_field :name, class:"input-tag", autocomplete: "off", required: true %>
        </div>
      </div>

      <div class="new-code-textarea field font">
        <%= f.label :code,  "コード" %><br>
        <%= f.text_area :code, class:"input-message", required: true %>
      </div>

      <div class="new-code-color">
        <div class="font">
          カラー
        </div>
        <div class="select-box font">
          <%= f.collection_select(:color, Color.all, :id, :name, {}, {class:"select-box"}) %>
        </div>
      </div>

      <div class="field actions new-code-send">
        <label for="code-submit">SEND</label>
        <%= f.submit "SEND", class: "submit-btn", id: "code-submit" %>
      </div>

      <% end %>

    </div>
  </div>
</div>