<div class="bg-img-books">
  <%= render partial: "layouts/header" %>
  <div class="container-new-code flex">

    <%= form_with model: @code, url: '#', local: true do |f| %>

    <div class="new-code-title">
      <%= f.label :title %><br />
      <%= f.email_field :title, autofocus: true, autocomplete: "off" %>
    </div>

    <div class="new-code-code">
      <%= f.label :code %><br />
      <%= f.email_field :code, autocomplete: "off" %>
    </div>

    <div class="new-code-tag">
      <%= f.label :tag %><br />
      <%= f.email_field :tag, autocomplete: "off" %>
    </div>

  </div>
</div>