<div class="bg-img flex">
  <div class="form flex">
    <div class="title font">
      <h2>Sign up</h2>
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
    </div>

    <%= render 'devise/shared/error_messages', model: f.object %>

    <div class="field font">
      <%= f.label :nickname %><br />
      <%= f.text_field :nickname, autofocus: true, autocomplete: "off" %>
    </div>

    <div class="field font">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "off" %>
    </div>

    <div class="field font">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field font">
      <%= f.label :password_confirm %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field actions">
      <%= f.submit "Sign up" %>
    </div>
    <% end %>
  </div>
</div>

<p>jQuery稼働テスト</p>
<script type="text/javascript">
  $(document).ready(function() {
    $("p").text("jQuery稼働テスト(稼働中)");
  });
</script>