<div class="bg-img flex">
  <div class="form flex">
    <div class="title font">
      <h2>Log in</h2>
    </div>
    <%= form_with model: @user, url: user_session_path, local: true do |f| %>

    <%= render 'devise/shared/error_messages', model: f.object %>

    <div class="field font">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "off" %>
    </div>

    <div class="field font">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="remember-me font">
      <h3>Remember me</h3>
    </div>


    <% if devise_mapping.rememberable? %>
    <div class="check-box flex">
      <%= f.check_box :remember_me %>
      <label for="user_remember_me"></label>
    </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
    <% end %>
  </div>
</div>