<div class="bg-img flex">
  <div class="form flex">
    <div class="title font">
      <h2>Log in</h2>
    </div>
    <%= form_with model: @user, url: user_session_path, local: true do |f| %>

    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    <% end %>

    <div class="log-in field font">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "off",required: true, placeholder: '"@"を間に含む半角英数' %>
    </div>

    <div class="log-in field font">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", required: true, minlingth: 6, pattern: "^([a-zA-Z0-9]{6,128})$", placeholder: "^([a-zA-Z0-9]{6,128})$" %>
    </div>

    <div class="remember-me font">
      <h3>Remember me</h3>
    </div>


    <% if devise_mapping.rememberable? %>
    <div class="check-box flex">
      <%= f.check_box :remember_me %>
      <label for="user_remember_me"></label>
    </div>
    <% end -%>

    <div class="actions log-in">
      <%= f.submit "Log in" %>
    </div>
    <% end %>
  </div>
</div>